
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  
  }
  
  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
    font-weight: lighter;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 0px;
    color: rgb(150, 150, 150);
  }
  
  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    text-align: center;
    font-weight: lighter;
    margin-left: 20px;
    margin-bottom: -10px;
    color: rgb(199, 199, 199);
  }
  
  .forms {
    background-color: rgb(240, 240, 240);
    margin: 15px 15px 30px 15px;
    padding-top: 12px;
    height: 38px;
    width: 350px;
    text-align: right;
    border-radius: 10px;
    border: 1px rgb(150, 150, 150) solid;
  }
  
  input {
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
    padding-left: 6px;
    border-radius: 8px;
    border: 1px rgb(150, 150, 150) solid;
  }
  
  table {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 50px;
  }
  
  td {
    padding-left: 10px;
  }

  p {
    font-size: 10pt;
    text-align: center;
    font-style: italic;
  }